*{  
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.header{
    height: 100vh;
    background-image: url("/1.png");
    background-color: #f1ede6;
    background-position: right;
    background-size: 100vh 50vw;
    background-repeat: no-repeat;    
}
.header-div{
    align-items: center;
    padding-left: 100px;
    padding-top: 15vh;
    font-size: xx-large;
}
.header-div h1{
    color:#132527;
}
.btn{
    height: 5vh;
    width: 15vh;
    border-radius: 5px;
    font-size: medium;
    background-color: #639112;
}
.section{
    background-color: #f1ede6;
    text-align: center;
    padding-top: 100px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 15vh;
    padding-right: 15vh;
}
.main1{
    height: 100vh;
    background-image: url("/2.png");
    background-color: #f1ede6;
    background-position: left;
    background-size: 100vh 50vw;
    background-repeat: no-repeat; 
}
.main1-div{
    padding-top: 40vh;
    padding-left: 40vw;
}
.main1-div {
    font-size: xx-large;
}
.main2{
    height: 100vh;
    background-image: url("/3.png");
    background-color: #f1ede6;
    background-position: right;
    background-size: 100vh 50vw;
    background-repeat: no-repeat; 
}
.main2-div{
    padding-top: 30vh;
    padding-left: 5vw;
}
.main2-div {
    font-size: xx-large;
}
.main3{
    height: 100vh;
    background-image: url("/4.png");
    background-color: #f1ede6;
    background-position: left;
    background-size: 100vh 50vw;
    background-repeat: no-repeat; 
}
.main3-div{
    padding-top: 30vh;
    padding-left: 40vw;
}
.main3-div {
    font-size: xx-large;
}
.btn1{
    height: 5vh;
    width: 15vh;
    border-radius: 5px;
    font-size: medium;
    background-color: #639112;
 }
 .footer{
    height: 115vh;
    background-image: url("/8.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1ede6;
 }
 .footer-div{
    font-size: xx-large;
    padding-left: 10vw;
    padding-top: 20vh;
 }
 #pre{
    color: #ffffff;
    padding-top: 10vh;
 }
 .footer-btn{
    height: 5vh;
    width: 15vh;
    border-radius: 5px;
    font-size: medium;
    background-color: #f1d6bb;
 }